@using System.Web.Security;
@using AYLogistics.Models
@{
    ViewBag.Title = "Advance Search";
}

<h2>Search Jobs</h2>

        
<div class="formControlContainer margin-right35">
    <div>
        <fieldset>
            <div id="searchBlock">
                    <div class="control pull-left space-right">
                        FROM: <input type="text" id="StartDate" data-date-format="yyyy-mm-dd" class="datepicker input-small"/>
                    </div>
                    <div class="control pull-left space-right">
                        TO: <input type="text" id="EndDate" data-date-format="yyyy-mm-dd" class="datepicker input-small"/> OR
                    </div>
                    <div class="control pull-left space-right">
                        <input type="text" id="query" class="eng" placeholder="Job No / BL/MBL/AWBL/MAB / Voyage No / Vessel Name" style="width: 355px;"/>
                    </div>
                    <div class="control pull-left space-right">
                        <button id="searchJB" class="btn btn-primary" ><i class="icon-search"></i></button>
                    </div>
            </div>
        </fieldset>
    </div>

    <table id="JobTable" class="display table-hover" style="width: 100%; border-collapse: collapse; font-size:12px;">
        <caption style="font-size:14px; color:#f09529;">Recent Jobs</caption>
        <thead>
            <tr>
                <th class="hide">JobId</th>
                <th class="hide">ShipmentId</th>
                <th class="hide">HBLId</th>
                <th style="width:auto "class="tableHeadFont">Job No</th>
                <th style="width:auto " class="tableHeadFont">Reg Date</th>
                <th style="width:auto "class="tableHeadFont">Consignee / Customer</th>
                @*<th style="width:auto "class="tableHeadFont">MasterBL No</th>*@
                <th style="width:auto "class="tableHeadFont">HBL/AWBL</th>
                <th style="width:auto " class="tableHeadFont">Vessel / Flight</th>
                <th style="width:auto " class="tableHeadFont">Voyage</th>
                <th style="width:auto " class="tableHeadFont">Container</th>
                <th style="width:auto " class="tableHeadFont">RNumber</th>
                <th style="width: auto" class="tableHeadFont">Arrival</th>
                <th style="width: auto" class="tableHeadFont">Discharge</th>
                <th style="width: auto" class="tableHeadFont">Demurrage</th>
                <th style="width: auto" class="tableHeadFont">Mode</th>
                <th style="width: auto" class="tableHeadFont">Clearance Date</th>
                <th style="width: auto" class="tableHeadFont">Clearance Mode</th>
                <th style="width: auto" class="tableHeadFont">Clearance Port</th>
                <th style="width: auto" class="tableHeadFont">Clearance By</th>
                <th style="width: auto" class="tableHeadFont">Delivery Place</th>
                 <th style="width: auto" class="tableHeadFont">Entry By</th>
                <th style="width: auto" class="tableHeadFont">Remarks</th>
                @*<th style="width: " class="tableHeadFont">Commodity</th>*@
                @*<th style="width: 80px; "class="tableHeadFont">Project</th>*@
                <th style="width: auto" class="tableHeadFont">RecentStatus</th>
                <th style="width:auto" class="tableHeadFont"></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#JobTable').css('width', '100%');
        var date = new Date();
        var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
        var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);

        $('#StartDate').datepicker('setDate', firstDay);
        $('#EndDate').datepicker('setDate', lastDay);

        $("#query").val("");
        FilterJob();

    });

    $('#JobTable tbody').on('click', 'tr', function () { //one click
        $(this).toggleClass('selected');
    });

    $("#searchJB").click(function () {
       // $('#JobTable').css('width', '100%');
        if ($("#query").val() == "") {
            FilterJob();
        }
        else {
            FilterJobBy();

        }
    });

    function FilterJob() {
        try {
            var oTable = $('#JobTable').dataTable({
                "bProcessing": true,
                "sAjaxSource": '/Job/FilterJob/?StartDate=' + $('#StartDate').val() + '&EndDate=' + $('#EndDate').val(),
                "bFilter": true,
                "bDestroy": true,
                // "sScrollY": "350",
                "bScrollCollapse": true,
                "bLengthChange": true,
                "autoWidth": false,
                "order": [[0, "desc"]],

                dom: 'Bfrtip',//*Buttons start
                buttons: [
                    //'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                                       {
                                           extend: 'excel',
                                           footer: true,
                                           exportOptions: {
                                               columns: ':visible'
                                           }
                                       },
                   'pageLength',
                   'colvis',
                ],
                //*Buttons end


                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'dataType': 'json',
                        'type': 'POST',
                        "url": '/Job/FilterJob/?StartDate=' + $('#StartDate').val() + '&EndDate=' + $('#EndDate').val(),
                        "success": function (json) {
                            fnCallback(json);
                            $('#JobTable').css('width', '100%');
                            init();
                        },
                        "error": function () {
                            $('#JobTable').dataTable().fnClearTable();
                        }
                    });
                },
                "aoColumns": [
                    { "mDataProp": "Id", "sDefaultContent": "-", "sClass": "hide" },
                    { "mDataProp": "ShipmentId", "sDefaultContent": "-", "sClass": "hide" },
                    { "mDataProp": "HBLId", "sDefaultContent": "-", "sClass": "hide" },
                    { "mDataProp": "JobNo", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "RegistrationDate", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "Customer", "sDefaultContent": "-", "sClass": "eng" },
                   // { "mDataProp": "MasterBL", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "HouseBL", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "VesselName", "sDefaultContent": "-", "sClass": "eng" },
                   { "mDataProp": "VoyageNo", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ContainerNo", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "RNumber", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DateArrival", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DateDischargeGreen", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DateDemurrageRed", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ShipmentMode", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearanceDate", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearanceMode", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearancePort", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearanceBy", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DeliveryPlace", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "Employee", "sDefaultContent": "-", "sClass": "eng" },
                     { "mDataProp": "Remarks", "sDefaultContent": "-", "sClass": "eng" },
                   // { "mDataProp": "Commodity", "sDefaultContent": "-", "sClass": "eng" },
                   // { "mDataProp": "Project", "sDefaultContent": "-", "sClass": "eng" },
                   //{ "mDataProp": "RecentStatus", "sDefaultContent": "-", "sClass": "TablecolunmColor" },
                   {
                       "mDataProp": "RecentStatus", render: function (data, type, row, meta) {
                           return '<mark>' + row.RecentStatus + '</mark>';
                       }
                   },
                    {
                        //"mDataProp": null, "sDefaultContent": "-", "fnRender": function (o) {
                        "mDataProp": null, render: function (data, type, row, meta) {
                            return "<div class='dropdown show'>"
                             + "<a class='dropdown-toggle' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='icon-info-sign icon-2x'></i></a>"
                              + "<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>"
                                + "<a class='dropdown-item' href='../Job/EditJob?JobId=" + row.Id + "&HBLId=" + row.HBLId + "'>&nbsp;Edit Job</a>"
                                //+ "<br><a class='dropdown-item' href='../JobDocument/Index?ShipmentId=" + row.ShipmentId + "&HBLId=" + row.HBLId + "'>&nbsp;Attachments</a>"
                                + "<br><a class='dropdown-item' href='#' onclick='attachOpen(" + row.ShipmentId + "," + row.HBLId + ")'>&nbsp;Attachments</a>"
                                + "<br><a class='dropdown-item' href='#' onclick='shipmentStatusOpen(" + row.ShipmentId +","+ row.HBLId + ")'>&nbsp;Status</a>"
                              + "</div></div>"
                        }
                    }

                ],
                "fnDrawCallback": function (oSettings) {
                    //*Buttons hide start
                    var hasRows = this.api().rows({ filter: 'applied' }).data().length > 0;
                    // $('.buttons-copy')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //  $('.buttons-csv')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    $('.buttons-excel')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //   $('.buttons-pdf')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //   $('.buttons-print')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //Buttons hide end
                    init();
                }

            });

        } catch (e) {
            $('#JobTable').dataTable({ "bDestroy": true }).fnClearTable();
        }
    }

    function FilterJobBy() {
        try {
            var oTable = $('#JobTable').dataTable({
                "bProcessing": true,
                "sAjaxSource": '/Job/FilterJobBy/?query=' + $('#query').val(),
                "bFilter": true,
                "bDestroy": true,
                // "sScrollY": "350",
                "bScrollCollapse": true,
                "bLengthChange": true,
                "autoWidth": false,

                dom: 'Bfrtip',//*Buttons start
                buttons: [
                    //'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                                       {
                                           extend: 'excel',
                                           footer: true,
                                           exportOptions: {
                                               columns: ':visible'
                                           }
                                       },
                   'pageLength',
                   'colvis',
                ],
                //*Buttons end


                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        'dataType': 'json',
                        'type': 'POST',
                        "url": '/Job/FilterJobBy/?query=' + $('#query').val(),
                        "success": function (json) {
                            fnCallback(json);
                            $('#JobTable').css('width', '100%');
                            init();
                        },
                        "error": function () {
                            $('#JobTable').dataTable().fnClearTable();
                        }
                    });
                },
                "aoColumns": [
                    { "mDataProp": "Id", "sDefaultContent": "-", "sClass": "hide" },
                    { "mDataProp": "ShipmentId", "sDefaultContent": "-", "sClass": "hide" },
                    { "mDataProp": "HBLId", "sDefaultContent": "-", "sClass": "hide" },
                    { "mDataProp": "JobNo", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "RegistrationDate", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "Customer", "sDefaultContent": "-", "sClass": "eng" },
                   // { "mDataProp": "MasterBL", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "HouseBL", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "VesselName", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "VoyageNo", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ContainerNo", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "RNumber", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DateArrival", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DateDischargeGreen", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DateDemurrageRed", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ShipmentMode", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearanceDate", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearanceMode", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearancePort", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "ClearanceBy", "sDefaultContent": "-", "sClass": "eng" },
                    { "mDataProp": "DeliveryPlace", "sDefaultContent": "-", "sClass": "eng" },
                     { "mDataProp": "Employee", "sDefaultContent": "-", "sClass": "eng" },
                     { "mDataProp": "Remarks", "sDefaultContent": "-", "sClass": "eng" },
                   // { "mDataProp": "Commodity", "sDefaultContent": "-", "sClass": "eng" },
                   // { "mDataProp": "Project", "sDefaultContent": "-", "sClass": "eng" },
                 //  { "mDataProp": "RecentStatus", "sDefaultContent": "-", "sClass": "TablecolunmColor" },
                 {
                     "mDataProp": "RecentStatus", render: function (data, type, row, meta) {
                         return '<mark>' + row.RecentStatus + '</mark>';
                     }
                 },
                    {
                        // "mDataProp": null, "sDefaultContent": "-", "fnRender": function (o) {
                        "mDataProp": null, render: function (data, type, row, meta) {
                            return "<div class='dropdown show'>"
                             + "<a class='dropdown-toggle' href='#' role='button' id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='icon-info-sign icon-2x'></i></a>"
                              + "<div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>"
                                + "<a class='dropdown-item' href='../Job/EditJob?JobId=" + row.Id + "&HBLId=" + row.HBLId + "'>&nbsp;Edit Job</a>"
                                //+ "<br><a class='dropdown-item' href='../JobDocument/Index?ShipmentId=" + row.ShipmentId + "&HBLId=" + row.HBLId + "'>&nbsp;Attachments</a>"
                                + "<br><a class='dropdown-item' href='#' onclick='attachOpen(" + row.ShipmentId + "," + row.HBLId + ")'>&nbsp;Attachments</a>"
                                 + "<br><a class='dropdown-item' href='#' onclick='shipmentStatusOpen(" + row.ShipmentId +"," + row.HBLId + ")'>&nbsp;Status</a>"
                              + "</div></div>"
                        }
                    }

                ],
                "fnDrawCallback": function (oSettings) {
                    //*Buttons hide start
                    var hasRows = this.api().rows({ filter: 'applied' }).data().length > 0;
                    // $('.buttons-copy')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //  $('.buttons-csv')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    $('.buttons-excel')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //   $('.buttons-pdf')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //   $('.buttons-print')[0].style.visibility = hasRows ? 'visible' : 'hidden'
                    //Buttons hide end
                    init();
                }

            });

        } catch (e) {
            $('#JobTable').dataTable({ "bDestroy": true }).fnClearTable();
        }
    }


    function attachOpen(shipmentId, BLid) {
        // var myWindow = window.open("../JobDocument/RawIndex?ShipmentId=" + shipmentId + "&HBLId=" + BLid, "", "width=1100,height=600");
        var page = "../JobDocument/RawIndex?ShipmentId=" + shipmentId + "&HBLId=" + BLid;
        var $dialog = $('<div style="overflow:visible"></div>')
                       .html('<iframe style="border: 0px; " src="' + page + '" width="100%" height="100%"></iframe>')
                       .dialog({
                           autoOpen: false,
                           modal: true,
                           height: 720,
                           width: 1240,
                           resizable: true,
                           title: "DOCUMENTS",
                           buttons: {
                               Close: function () {
                                   $(this).dialog("close");

                               }
                           }
                       });
        $dialog.dialog('open');
    }

    function shipmentStatusOpen(shipmentId, BLid) {
        // var myWindow = "";
        //myWindow = window.open("../Manifest/shipmentStatus?ShipmentId=" + shipmentId + "&HBLId=" + BLid, "", "width=1335,height=400");
        var page = "../Manifest/shipmentStatus?ShipmentId=" + shipmentId + "&HBLId=" + BLid;
        var $dialog = $('<div style="overflow:visible"></div>')
                       .html('<iframe style="border: 0px; " src="' + page + '" width="100%" height="100%"></iframe>')
                       .dialog({
                           autoOpen: false,
                           modal: true,
                           height: 720,
                           width: 1240,
                           resizable: true,
                           title: "STATUS",
                           buttons: {
                               Close: function () {
                                   $(this).dialog("close");

                               }
                           }
                       });
        $dialog.dialog('open');
    }



    function init() {
    }

</script>   