<h4>Please try Again!</h4>

<script type="text/javascript">

    $(document).ready(function () {

        $.pnotify({
            title: 'XML',
            text: result.Message,
            type: result.Status
        });

    });

</script>